<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stock Market Analysis</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/stylea.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<nav id="header-nav" class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="pull-left visible-md visible-lg">
					<div id="logo-img" alt="Logo image"></div>
				</a>
				<div class="navbar-brand">
					<h1>Stock Market Analysis</h1>
					<p>
						<span>This is a website to analyse your favorite stock</span>
					</p>
				</div>
			</div>
			<div id="collapsable-nav" class="collapse navbar-collapse" >
					<u1 id="nav-list" class="nav navbar-nav navbar-right">
						<li>
							<a href="{{url_for('about')}}">
								<span class="glyphicon glyphicon-info-sign"></span>
								<br class="hidden-xs">About Us
							</a>
						</li>
					</u1>
			</div>
		</div>
	</nav>
</header>
<body>
<div class="container4">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
			<h2> You have opted to analyse "{{stock}}" </h2>
			<form method="post" action="{{ url_for('home_page') }}">
			<input type="submit" value="A     Show me the price chart of my chosen stock" name="A" />
			<p></p>
			<input type="submit" value="B     Show me a price comparison with an additional stock" name="B"/>
			<p></p>
			<input type="submit" value="C     Show me the revenue and earnings of my chosen stock" name="C" />
			<p></p>
			<input type="submit" value="D     Show me the cash flow statement of my chosen stock" name="D" />
			<p></p>
			<input type="submit" value="E     Show me the analyst recommendations for the stock of the last 6 months" name="E" />
			<p></p>
			<input type="submit" value="F     Show me the price prediction for the future" name="F" />		
        </div>
    </div>
</div>
<div class="animation-area">
		<ul class="box-area">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body> 