<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stock Market Analysis</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<nav id="header-nav" class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="pull-left visible-md visible-lg">
					<div id="logo-img" alt="Logo image"></div>
				</a>
				<div class="navbar-brand">
					<h1>Stock Market Analysis</h1>
					<p>
						<span>This is a website to analyse your favorite stock</span>
					</p>
				</div>
			</div>
			<div id="collapsable-nav" class="collapse navbar-collapse" >
					<u1 id="nav-list" class="nav navbar-nav navbar-right">
						<li>
							<a href="{{url_for('about')}}">
								<span class="glyphicon glyphicon-info-sign"></span>
								<br class="hidden-xs">About Us
							</a>
						</li>
					</u1>
			</div>
		</div>
	</nav>
</header>
<section>
		<div class="wave wave1"></div>
		<div class="wave wave2"></div>
		<div class="wave wave3"></div>
		<div class="wave wave4"></div>
	</section>
<div class="container2">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">			
			<form method="post" action="{{ url_for('home_page') }}">
			<input type="submit" value="Click to view top stocks and symbols again" name="stock_table" />
			</form>
			<form method="post" action="{{ url_for('set_compare') }}">
			<p>{{var}}<input type = "text" name = "Name" /></p>
			<p><input type = "submit" value = "Submit" /></p>
			</form>
        </div>
    </div>
</div>
</body> 