body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Dancing Script', cursive;
}

#header-nav{
	background-color: #f6b319;
	margin-right: -10px;
	border-radius: 0;
	border: 0;
}

#logo-img{
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	/*font-family: 'Lora', serif;*/
	color: #000080;
	font-size: 1.75em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.36;

}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p{
	color: #000;
	/*text-transform: uppercase;*/
	font-size: 1em;
	margin-top: 2px;
}

.navbar-brand p span{
	vertical-align: middle;
}

#nav-list{
	margin-top: 15px;
	margin-right: -120px;
}

#nav-list a{
	color: #951c49;
	font-size: 22px;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.3em;
}

#phone{
	margin-top: 10px;
	font-size: 1.2em;

}

#phone a {
	text-align: right;
	padding-bottom: 5px;
	font-weight: bold;
}

#phone div {
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -20px; 
}
.panel-footer {
	margin-top: 30px;
	font-size: 1.18em;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.panel-footer div.row{
	margin-bottom: 35px;
}
#hours, #address {
	line-height: 2;
}
#hours > span, #address > span {
	font-size: 1.4em;
}
#address p {
	color:red;
	font-size: 0.95em;
	line-height: 1.8;
}
#reviews {
	font-style: italic;
}
#reviews p:nth-child(2) {
	margin-top: 25px;
}

.container .jumbotron{
	box-shadow: 0 0 50px #3F0C1F;
  	border: 2px solid #3F0C1F;
 }

#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border:2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile{
	background:url('../images/menu-tile.jpg') no-repeat;
	background-position: center;
}
#specials-tile {
	background:url('../images/ghtj.png') no-repeat;
	background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

.category-tile {
	position:relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin:0 auto 15px;
}

.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;

}
.category-tile:hover {
	box-shadow: 0 1px 6.5px 1px #cccccc;
}
#menu-categories-title + div {
	margin-bottom: 50px;
}

.menu-item-tile {
	margin-bottom: 25px;
}

.menu-item-tile hr {
	width: 82%;
}

.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
	font-size: .8em;
}

.menu-item-photo {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}

.menu-item-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align:center;
}

.menu-item-description {
	padding-right: 30px;
}

h3.menu-item-title {
	margin: 0 0 10px;
}

.menu-item-details {
	font-size: 1.25em;
	font-style: italic;
}

@media (min-width: 1200px){
	.container .jumbotron {
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		height: 675px;
	}
	#header-nav{
		margin-right: -135px;
	}
	
}

@media (min-width: 992px) and (max-width: 1199px){
	#logo-img{
		background:url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}
	.container .jumbotron{
		background: url('../images/jumbotron_992.jpg') no-repeat;
		height: 558px;
	}
	#header-nav{
		margin-right: -166px;
	}
	
}

@media (min-width: 768px) and (max-width: 991px){
	.container .jumbotron{
		background: url('../images/jumbotron_768.jpg') no-repeat;
		height: 432px;
	}
	#header-nav{
		margin-right: -155px;
	}
}

@media (max-width: 767px)
{
	
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1{
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p{
		font-size: 0.95em;
		margin-top: 0px;
	}
	.navbar-brand p img {
		height: 20px;
	}

	#collapsable-nav a { 
    font-size: 1.3em;
    font-weight: bold;
    }

  	#collapsable-nav a span { 
    font-size: 1em;
    margin-right: 7.5px;
  	}

  	#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 10px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  	}

  	#xs-deliver {
    margin-top: 3px;
    font-size: .9em;
    letter-spacing: .1em;
  	}

  	.panel-footer section {
  		margin-bottom: 30px;
  		text-align: center;
  	}
  	.panel-footer section:nth-child(3) {
  		margin-bottom: 0;
  	}
  	.panel-footer section hr {
  		width: 50%;
  	}

  	.container .jumbotron {
  		margin-top: 30px;
  		padding: 0;
  	}
  	#menu-tile, #specials-tile {
  		width: 360px;
  		margin:0 auto 15px;
  	}
  	.menu-item-photo {
  		margin-right: auto;
  	}
  	.menu-item-tile .menu-item-price {
  		text-align: center;
  	}
  	.menu-item-description {
  		text-align: center;
  	}

}


@media (max-width: 479px){

	.navbar-brand h1{
		padding-top: 5px;
		font-size: 8vw;
	}

	#menu-tile, #specials-tile {
		width: 280px;
		margin: 0 auto 15px;
	}
	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;

	}
}